@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8CC0DE;
}

/* Navbar */
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    width: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #87C0CD;
    color: white;
}

.logo {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 3vw;
    background-color: white;
}


/* Content */

.bienvenido {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    color: black;
    background-color: white;
    letter-spacing: 10px;
}


.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border: none;
}

.container-input {
    width: 50%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    display: block;
    margin: 15px 0;
}

.input {
    display: block;
    margin: auto;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(76, 76, 76);
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.names {
    background-color: white;
    font-size: 20px;
}

.submit {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    list-style: none;
}


.button-create {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30%;
    height: 70px;
    border: 1px solid #87C0CD;
    border-radius: 10px;
    background-color: #ffffff;
    color: #87C0CD;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;

}

.button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30%;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: #87C0CD;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 auto;
}


#error {
    position: relative;
    display: flex;
    margin-top: 3vh;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;


}



@media (max-width: 600px) {


    /* Navbar */
    .topnav a {
        float: right;
        color: #000000;
        text-align: center;
        padding: 15px 10px;
        text-decoration: none;
        font-size: 10px;
        background-color: white;
        width: auto;
    }

    .logo {
        float: left;
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 3vw;
        background-color: white;
        font-size: 15px;
    }



    .container-input {
        width: 100%;
        height: 100%;
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }




    .submit {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin-top: 15px;
        background-color: rgb(255, 255, 255);
        list-style: none;
    }


    .button-create {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 100%;
        height: 70px;
        border: 1px solid #87C0CD;
        border-radius: 10px;
        background-color: #ffffff;
        color: #87C0CD;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;

    }

    .button-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 100%;
        height: 70px;
        border: none;
        border-radius: 10px;
        background-color: #87C0CD;
        color: white;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        margin: 0 auto;
    }

}